In [1]:
import pandas as pd
csv_path = '用戶1~3.csv'
data = pd.read_csv(csv_path,encoding='ANSI')
data

       fcustomerid county       Date  Year  Month Week  Hour Holiday    KWH_A
0                1    台北市  109/08/24  2020      8    一    11       N  0.69747
1                1    台北市  109/08/24  2020      8    一    12       N  0.47235
2                1    台北市  109/08/24  2020      8    一    13       N  0.49665
3                1    台北市  109/08/24  2020      8    一    14       N  0.48068
4                1    台北市  109/08/24  2020      8    一    15       N  0.49485
...            ...    ...        ...   ...    ...  ...   ...     ...      ...
72935            3    台北市  113/01/14  2024      1    日    19       Y  0.14138
72936            3    台北市  113/01/14  2024      1    日    20       Y  0.16835
72937            3    台北市  113/01/14  2024      1    日    21       Y  0.16075
72938            3    台北市  113/01/14  2024      1    日    22       Y  0.14850
72939            3    台北市  113/01/14  2024      1    日    23       Y  0.18255

[72940 rows x 9 columns]

In [3]:
# 根據fcustomerid列對數據進行分組
grouped = data.groupby('fcustomerid')
grouped

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000024DF0616050>

In [5]:
for name, group in grouped:
    print('name-->',name)
    print('group-->\n',group)
    print('=======================================================================================')

name--> 1
group-->
        fcustomerid county       Date  Year  Month Week  Hour Holiday    KWH_A
0                1    台北市  109/08/24  2020      8    一    11       N  0.69747
1                1    台北市  109/08/24  2020      8    一    12       N  0.47235
2                1    台北市  109/08/24  2020      8    一    13       N  0.49665
3                1    台北市  109/08/24  2020      8    一    14       N  0.48068
4                1    台北市  109/08/24  2020      8    一    15       N  0.49485
...            ...    ...        ...   ...    ...  ...   ...     ...      ...
28925            1    台北市  113/01/14  2024      1    日    19       Y  0.37643
28926            1    台北市  113/01/14  2024      1    日    20       Y  0.43368
28927            1    台北市  113/01/14  2024      1    日    21       Y  0.50450
28928            1    台北市  113/01/14  2024      1    日    22       Y  0.46700
28929            1    台北市  113/01/14  2024      1    日    23       Y  0.38450

[28930 rows x 9 columns]
=======================================================================================
name--> 2
group-->
        fcustomerid county       Date  Year  Month Week  Hour Holiday    KWH_A
28930            2    台北市  111/05/16  2022      5    一    23       N  0.16100
28931            2    台北市  111/05/17  2022      5    二     0       N  0.16583
28932            2    台北市  111/05/17  2022      5    二     1       N  0.13290
28933            2    台北市  111/05/17  2022      5    二     2       N  0.12540
28934            2    台北市  111/05/17  2022      5    二     3       N  0.09483
...            ...    ...        ...   ...    ...  ...   ...     ...      ...
43162            2    台北市  113/01/14  2024      1    日    19       Y  0.18160
43163            2    台北市  113/01/14  2024      1    日    20       Y  0.14120
43164            2    台北市  113/01/14  2024      1    日    21       Y  0.17695
43165            2    台北市  113/01/14  2024      1    日    22       Y  0.17748
43166            2    台北市  113/01/14  2024      1    日    23       Y  0.16013

[14237 rows x 9 columns]
=======================================================================================
name--> 3
group-->
        fcustomerid county       Date  Year  Month Week  Hour Holiday    KWH_A
43167            3    台北市  109/07/07  2020      7    二    15       N  0.10670
43168            3    台北市  109/07/07  2020      7    二    16       N  0.11117
43169            3    台北市  109/07/07  2020      7    二    17       N  0.10375
43170            3    台北市  109/07/07  2020      7    二    18       N  0.12215
43171            3    台北市  109/07/07  2020      7    二    19       N  0.09630
...            ...    ...        ...   ...    ...  ...   ...     ...      ...
72935            3    台北市  113/01/14  2024      1    日    19       Y  0.14138
72936            3    台北市  113/01/14  2024      1    日    20       Y  0.16835
72937            3    台北市  113/01/14  2024      1    日    21       Y  0.16075
72938            3    台北市  113/01/14  2024      1    日    22       Y  0.14850
72939            3    台北市  113/01/14  2024      1    日    23       Y  0.18255

[29773 rows x 9 columns]
=======================================================================================

In [7]:
import os
#建立資料夾
os.makedirs('Group_by_fcustomerid',exist_ok=True)
# 對每個分組應用函數,將數據寫入新的CSV文件
for name, group in grouped:
    
    group.to_csv(f'Group_by_fcustomerid/output_{name}.csv', index=False,encoding='ANSI')
    print(f'{name} 完成')

1 完成
2 完成
3 完成